html, body{
	 height: 100%;
	 position: relative;
     background-position: center ;
     background-repeat: no-repeat;
     background-size: cover;
}

#time{
	text-align: center;
	font-size: 50px;
	font-family: Abel;
	opacity: 0.7;
	text-shadow: 1px 3px white;
}