.bottom{
  position: fixed;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: "Abel", sans-serif;
  opacity: 0.8;
  top: 80%;
  left: 40%;
  width: 30em;
  height: 18em;
  color: white;
  font-size: 20px;
}